<?php
{% for host in groups['meta-role_mysql'] %}
$server='{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:3306';
{% endfor %}
$mysql_connect=mysql_connect($server, "lamp", "insecuredefault");
var_dump($mysql_connect);
echo gethostname();
phpinfo();